h1 {
  text-align: center;
}

.addBtn {
  text-align: center;
  margin: 30px;
}

.editBtn, .deleteBtn {
  margin: 3px;
  border: none;
  background-color: rgb(192, 184, 184);
  font-size: 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  border-collapse: separate;
  border-spacing: 5px;
  background-color: rgb(192, 184, 184);
  color: black;
  border: 16px solid rgb(192, 184, 184);
  border-radius: 20px;
  align-self: center;
}

.buttons {
  background-color: rgb(192, 184, 184);
}

th {
  font-size: 18px;
  padding: 10px;
}

td {
  border-radius: 10px;
  background-color: rgb(226, 216, 216);
  padding: 10px;
}